extends layout.pug

block content
    div.row
        if user
            div.s4
                h1 Edit your poll here
            form.col.s8#poll-form
                div.row
                    div.col.s12.input-field
                        input#name(type="text" name="name" placeholder="Poll theme..." value=poll.name)
                        label(for="name") Poll topic
                div.row
                    div.col.s6.input-field
                        input#first-choice(type="text" name="first-choice" placeholder="First choice." +
                        ".." value=poll.choices[0])
                        label(for="first-choice") Option #1
                    div.col.s6.input-field
                        input#second-choice(type="text" name="second-choice" placeholder="Second " +
                        "choice..." value=poll.choices[1])
                        label(for="second-choice") Option #2
                div.row
                    div.col.s2.offset-s8
                        button#edit-poll(type="submit").btn-large.waves-effect.waves-light.green.accent-2
                            | Edit
                    div.col.s2
                        button#delete-poll.btn-large.waves-effect.waves-light.red.accent-3 Delete
        else
            div.s12 POLL

append scripts
    script(type="text/javascript") var pollID = "#{poll._id}";
    script(src="../js/poll.js")